body {
    color: white;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.underline {
    text-decoration: none;
    border-bottom: 1px solid white;
}

.jumbo-style {
    background-image: linear-gradient(to bottom right, rgb(21, 6, 46), rgb(89, 73, 117));
    
  }

.card-mn-hd-style {
    color: rgb(38, 13, 80);
    font-size: 20px;
}

.card-hd-style {
    color: rgb(38, 13, 80);
}

.card-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-style {
    font-size: 20px;
}